---
layout: straightpage
---

<h1>{{ page.course-title }}</h1>
<h2>{{ page.title }}</h2>

<p> {% if  page.prevex %} <a href="{{ site.url }}/latin/{{ page.prevex }}">&lt; Previous Lesson</a> | {% endif %} 
<a href="{{ site.url }}/latin/{{ page.course }}">back to {{ page.course-title }}</a> 
{% if page.nextex %} | <a href="{{ site.url }}/latin/{{ page.nextex }}">Next Lesson &gt; </a>{% endif %}</p>

{{ content }}


<p> {% if  page.prevex %} <a href="{{ site.url }}/latin/{{ page.prevex }}">&lt; Previous Lesson</a> | {% endif %}
<a href="{{ site.url }}/latin/{{ page.course }}">back to {{ page.course-title }}</a> 
{% if page.nextex %} | <a href="{{ site.url }}/latin/{{ page.nextex }}">Next Lesson &gt; </a>{% endif %}</p>

