---
layout: default
---

<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.teaser %}
      <div itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
		<img itemprop="url" src="{{ site.url }}/images/{{ page.image.teaser }}" height="200" width="400" />
    <meta itemprop="height" content="200" />
    <meta itemprop="width" content="400" />
        </div>
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1 itemprop="headline">{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
